html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  height: 100vh;
}

.code-container {
  flex: 1;
  background-color: #f0f0f0;
  overflow: auto;
}

.game-container {
  flex: 1;
  background-color: #e0e0e0;
  overflow: auto;
}
